
@media screen and (min-width: 360px) and (max-width: 640px){

body {background: #17224D;}
html {scroll-behavior: smooth;}


.bst {


}
.BTS {text-decoration: none;
background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%)}
.BTS {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;}
.BTS:hover {box-shadow: 0 0 20px red;
background-position: right center;color: #fff;text-decoration: none;}
         


section {padding: 10px; background: red;}
.LOGO_PRO {width: 100px; border-radius: 100px;}



.SENT {text-align: center;padding: 10px; width: 50px;}
#WEYY {background: red; padding: 10px; position: absolute;}
.WEYY {
 border-radius: 100px;
 padding: 4px;
 
 animation-name: OKK;
 animation-duration: 10s;
 /* animation-delay: 2s; */
 animation-iteration-count: infinite;
 }
 
 

.PUNT {
font-size: 35px; justify-content: center; align-content: center; 
}



/* TEXTO EN GENERAL */

.Enlace {ccolor: #F7444E;text-decoration: none;}
.Enlace:hover {color: red; background: transparent;}
.Enlace:visited {color: #fff;}

.COMILLAS {color: #ff407f; background: transparent;}
p {font-family: 'Open Sans', sans-serif; list-style: none;}
p::selection {background: transparent;}

.TEXTO_INFORMACION::selection {background: transparent;}
.LISTA_INFOMACION {text-align: left;
font-family: 'Open Sans', sans-serif;}

mark {background: transparent; color: #F7444E;}
mark::selection {background: transparent;}





.cuerpo {background: #17224D;}

.contral {padding: 10px;display: flex;color: #fff;overflow: hidden;
overflow: auto;border-bottom: 2px solid #fff;}
				 

.UNO {margin-left: 20px;margin-right: 20px;cursor: pointer;}
.DOS {margin-left: 20px;margin-right: 20px;cursor: pointer;
 animation-name: OKKk;animation-duration: 5s;
 animation-iteration-count: infinite;}
 
.TRES {margin-left: 20px;margin-right: 20px;cursor: pointer;}
.CUATRO {margin-left: 20px;margin-right: 20px;cursor: pointer;} 
.CINCO {margin-left: 20px;margin-right: 20px;cursor: pointer;} 
.SEIS {margin-left: 20px;margin-right: 20px;cursor: pointer;} 




.TEXTO_INFORMACION {color:#F7444E; border-bottom: 2px solid #F7444E;
font-family: 'Playfair Display', serif;width: auto;
justify-content: center; text-align: center;}



/* TEXTO */
.text_B {font-size: 20px; margin-left: 2%;margin: 5px;}
.text_A {font-size: 20px; margin-left: 2%;margin: 5px;}
.TEXTO_PRINCIPAL {display: table-row;color: #F5FAFA;}
.text_A::selection {background: transparent;}
.text_B::selection {background: transparent;}

#IMAG {width: 40px;}/* LOGO */
#STAFF {width: 85%; padding: 20px;}/* STAFF-FLIPA */
#STAFFF {justify-content: center;text-align: center;}
/* CLASIFICACIÓN DE LAS CAJAS */

.CAJAS_BASE {display: flex; justify-content: space-around;padding: 3%;
overflow: hidden;white-space: normal;}
.CAJAS {width: 45%; height: 300px;background: green;border-radius: 10px;
text-align: center;justify-content: center;}

.CAJAS_2 {width: 45%; height: 300px;background: yellow;}
.CAJAS_3 {width:45%;height: 300px;background: red;border-radius: 100px;}
.CAJAS_4 {width:45%;height: 300px;background: blue;border-radius: 20px;}
.CAJAS_5 {background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
border-radius: 40px;
width: auto;overflow: hidden;white-space: normal; padding: 10px;
text-align: center;justify-content: center;}


.CAJAS_6 {background:#78BCC4;border-radius: 40px;
width: auto;overflow: hidden;white-space: normal; padding: 10px;
text-align: center;justify-content: center;}


.colores {display: flex;justify-content: space-around; padding: 10px;}
.ROJO {width: 20px;left: 20px;padding:20px;background: red;color: #fff;
border-radius: 20px;}
.AZUL {width: 20px;left: 20px;padding:20px;background:blue;color: #fff;
border-radius: 20px;}



.espacio {padding: 1%;}
.DERECHO {text-align: left;}
.BEN {padding: 0.1px 5px;background: red; color: #fff; font-size: 15px;
border-radius: 20px;margin: 0px;}/* LABEL DEL GRUPO 1 */
#OMEGA:checked + .BEN {padding: 0.1px 5px;background: blue;color:#fff;
border-radius: 20px;}/* LABEL DEL GRUPO 1 */
#OMEG:checked + .BEN {padding: 0.1px 5px;background: blue;color:#fff;
border-radius: 20px;}/* LABEL DEL GRUPO 1 */
#OME:checked + .BEN {padding: 0.1px 5px;background: blue;color:#fff;
border-radius: 20px;}/* LABEL DEL GRUPO 1 */




/* CLASIFICACIÓN DE LAS CAJAS */
/* OCULTAR */
.OCULTA_DATOS_UNO {display: none;}
.OCULTA_DATOS_DOS {display: none;}
.OCULTA_DATOS_TRES {display: none;}
.OCULTA_DATOS_CINCO {display: none;}
.OCULTA_DATOS_CUATRO {display: none;}
.OCULTA_DATOS_SEIS {display: none;}


#OP_1:checked + .OCULTA_DATOS_UNO {display: block;



}
#OP_2:checked + .OCULTA_DATOS_DOS {display: block;}
#OP_3:checked + .OCULTA_DATOS_TRES {display: block;}
#OP_6:checked + .OCULTA_DATOS_SEIS {display: block;}
#OP_5:checked + .OCULTA_DATOS_CINCO {display: block;}
#OP_4:checked + .OCULTA_DATOS_CUATRO {display: block;}
/* OCULTAR */

.ocurtar_ekemento_uno {display: none;}
#DATOS:checked + .ocurtar_ekemento_uno {display: block;}
.ocurtar_ekemento_dos {display: none;}
#DATS:checked + .ocurtar_ekemento_dos {display: block;}



input {display: none;}
.PC {display: none;}

/* ----+------+---- ANIMACIÓN ------+---------+------- */
@keyframes OKK {
 0% {background: #FF0000;}
 20% {background: #FAFF00;}
 40% {background: #06FF00;}
 60% {background: #00FFF0;}
 80% {background: #001AFF;}
 90% {background: #FF00F5;}
 100% {background: #FF0000;}}
 @keyframes OKKk {
 0% {color: #FF0000;}
 20% {color: #FAFF00;}
 40% {color: #06FF00;}
 60% {color: #00FFF0;}
 80% {color: #001AFF;}
 90% {color: #FF00F5;}
 100% {color: #FF0000;}}
/* ----+------+---- ANIMACIÓN ------+---------+------- */







.OCULTAR_PARA_PC {display: block;}
.PC {display: none; justify-content: center; text-align: center;}}



}

/* @media  screen and (min-width: 800px) and (max-width: 2880px) { */
@media  screen and (max-width: 1000px) {

.OCULTAR_PARA_PC {display: block;}
.PC {display: none; justify-content: center; text-align: center;}}




