



@media screen and (min-width: 360px) and (max-width: 640px){

body {background: #17224D;}					

.cuerpo {background: #007FFF;}
.LOGO_PRO {width: 150px; border-radius: 100px;margin-left: 2%;}




.contral {background: #866aff; padding: 10px;display: flex;color: #fff;





overflow: hidden;overflow: auto;






}

.UNO {margin-left: 20px;margin-right: 20px;}
.DOS {margin-left: 20px;margin-right: 20px;}
.TRES {margin-left: 20px;margin-right: 20px;}
.CUATRO {margin-left: 20px;margin-right: 20px;} 
.CINCO {margin-left: 20px;margin-right: 20px;} 



/* TEXTO */
.text_B {font-size: 20px; margin-left: 2%;}
.text_A {font-size: 20px; margin-left: 2%;}
.TEXTO_PRINCIPAL {display: table-row;}






/* CLASIFICACIÓN DE LAS CAJAS */
.CAJAS_BASE {display: flex; justify-content: space-around;padding: 3%;}
.CAJAS {width: 45%; height: 400px;background: green;border-radius: 10px;}
.CAJAS_2 {width: 45%; height: 400px;background: yellow;}
.CAJAS_3 {width: 45%;height: 400px;background: red;border-radius: 100px;}
.CAJAS_4 {width: 45%;height: 400px;background: blue;border-radius: 20px;}
.CAJAS_5 {width: 45%; height: 400px;background: #e455ff;border-radius: 60px;}
/* CLASIFICACIÓN DE LAS CAJAS */

/* OCULTAR */
.OCULTA_DATOS_UNO {display: none;}
.OCULTA_DATOS_DOS {display: none;}
.OCULTA_DATOS_TRES {display: none;}
.OCULTA_DATOS_CINCO {display: none;}
.OCULTA_DATOS_CUATRO {display: none;}
input {display: none;}

#OP_1:checked + .OCULTA_DATOS_UNO {display: block;}
#OP_2:checked + .OCULTA_DATOS_DOS {display: block;}
#OP_3:checked + .OCULTA_DATOS_TRES {display: block;}
#OP_5:checked + .OCULTA_DATOS_CINCO {display: block;}
#OP_4:checked + .OCULTA_DATOS_CUATRO {display: block;}
/* OCULTAR */
}
