
@media screen and (min-width: 360px) and (max-width: 640px){

body {background: #17224D;}					
input {display: none;}
.cuerpo {background: #17224D;}
.LOGO_PRO {width: 100px; border-radius: 100px; margin-left: 1%;}




.contral { padding: 10px;display: flex;color: #fff;position: relative;
				  overflow: hidden;overflow: auto;}
				 

.UNO {margin-left: 20px;margin-right: 20px;}
.DOS {margin-left: 20px;margin-right: 20px;}
.TRES {margin-left: 20px;margin-right: 20px;}
.CUATRO {margin-left: 20px;margin-right: 20px;} 
.CINCO {margin-left: 20px;margin-right: 20px;} 
.SEIS {margin-left: 20px;margin-right: 20px;} 







/* TEXTO */
.text_B {font-size: 20px; margin-left: 2%;margin: 5px;}
.text_A {font-size: 20px; margin-left: 2%;margin: 5px;}
.TEXTO_PRINCIPAL {display: table-row;color: #F5FAFA;}

#U:checked = {color: #f7444E;}
#UU {}



#IMAG {width: 40px;}/* LOGO */
#STAFF {width: 85%; padding: 20px;}/* STAFF-FLIPA */
#STAFFF {justify-content: center;text-align: center;}
/* CLASIFICACIÓN DE LAS CAJAS */

.CAJAS_BASE {display: flex; justify-content: space-around;padding: 3%;
overflow: hidden;white-space: normal;}

.CAJAS {width: 45%; height: 300px;background: green;border-radius: 10px;
text-align: center;justify-content: center;}

.CAJAS_2 {width: 45%; height: 300px;background: yellow;}
.CAJAS_3 {width: 45%;height: 300px;background: red;border-radius: 100px;}
.CAJAS_4 {width: 45%;height: 300px;background: blue;border-radius: 20px;}
.CAJAS_5 {width:45%;height:300px;background:#e455ff;border-radius: 60px;}
.CAJAS_6 {width:45%;height:300px;background:#15ffe0;border-radius: 40px;}
/* CLASIFICACIÓN DE LAS CAJAS */

/* OCULTAR */
.OCULTA_DATOS_UNO {display: none;}
.OCULTA_DATOS_DOS {display: none;}
.OCULTA_DATOS_TRES {display: none;}
.OCULTA_DATOS_CINCO {display: none;}
.OCULTA_DATOS_CUATRO {display: none;}
.OCULTA_DATOS_SEIS {display: none;}


#OP_1:checked + .OCULTA_DATOS_UNO {display: block;}
#OP_2:checked + .OCULTA_DATOS_DOS {display: block;}
#OP_3:checked + .OCULTA_DATOS_TRES {display: block;}
#OP_6:checked + .OCULTA_DATOS_SEIS {display: block;}
#OP_5:checked + .OCULTA_DATOS_CINCO {display: block;}
#OP_4:checked + .OCULTA_DATOS_CUATRO {display: block;}
/* OCULTAR */
}
